<!-- Footer -->
<footer class="relative bg-black text-white py-8 border-t-4 border-custom-red font-family-brandon">
    <div class="max-w-7xl mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <!-- Contact Info -->
            <div class="flex flex-col items-center md:items-start">
                <p class="text-lg block font-bold mb-2 text-custom-yellow">La Vida Loca, Waterford</p>
                <p class="text-sm block text-gray-50 mb-1">The Halfway House, Tramore Road, X91-NNP0</p>
                <p class="text-sm block text-gray-50">Phone: +353 83 305 2216</p>
            </div>

            <!-- Image Placeholder -->
            <div class="flex flex-col items-center">
                <div class="bg-gray-300 w-32 h-32 flex items-center justify-center">
                    <img src="/images/footerlogo.png" alt="La Vida Loca Logo" class="h-35 w-35">
                </div>
            </div>

            <!-- Opening Times -->
            <div class="flex flex-col items-center md:items-start">
                <p class="text-lg font-bold block mb-2 text-custom-red">Opening Times</p>
                <p class="text-sm block text-gray-50">Monday to Tuesday: Closed</p>
                <p class="text-sm block text-gray-50">Wednesday to Thursday: 12pm - 7pm</p>
                <p class="text-sm block text-gray-50">Friday: 12pm - 8pm</p>
                <p class="text-sm block text-gray-50">Saturday: 1pm - 8pm</p>
                <p class="text-sm block text-gray-50">Sunday: 1pm - 7pm</p>
            </div>

            <!-- Social Media -->
            <div class="flex flex-col items-center">
                <p class="text-lg block font-brandon font-bold mb-2 text-custom-yellow">Follow Us</p>
                <div class="flex space-x-4">
                    <a href="https://www.facebook.com/p/La_Vida_Loca_Waterford-100092537434234/"
                        class="text-white hover:text-custom-yellow">
                        <img src="/images/facebook.svg" alt="Facebook"
                            class="h-10 w-10 transition-transform duration-300 hover:scale-110">
                    </a>
                    <a href="https://www.instagram.com/la_vida_loca_waterford/?hl=en"
                        class="text-white hover:text-custom-yellow">
                        <img src="/images/instagram.svg" alt="Instagram"
                            class="h-10 w-10 transition-transform duration-300 hover:scale-110">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/bundle.js"></script>
</body>

</html>