<%- include('../partials/global/header') %>

    <!-- Main Content -->
    <div class="swiper mySwiper border-b-4 border-custom-red">
        <div class="swiper-wrapper">

            <div class="swiper-slide relative">
                <img src="/images/pair.png" alt="The Lovely Owners" class="w-full h-full object-cover">
                <div
                    class="absolute bottom-0 left-0 right-0 bg-linear-to-t from-black via-black/50 to-transparent pt-32 pb-24 px-8 text-white text-center">
                    <h2 class="text-5xl md:text-6xl font-family-brandon mb-4 uppercase tracking-wide">Made with heart</h2>
                    <p class="text-lg md:text-xl font-brandon max-w-3xl mx-auto">We pour our soul into every dish.</p>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img src="/images/birria.png" alt="Birria Tacos" class="w-full h-full object-cover">
                <div
                    class="absolute bottom-0 left-0 right-0 bg-linear-to-t from-black via-black/50 to-transparent pt-32 pb-24 px-8 text-white text-center">
                    <h2 class="text-5xl md:text-6xl font-family-brandon mb-4 uppercase tracking-wide">Authentic Mexican Dishes
                    </h2>
                    <p class="text-lg md:text-xl font-brandon max-w-3xl mx-auto">
                        Savorrrrrrrrrr the vibrant flavors of our traditional Mexican dishes, featuring succulent Birria Tostadas, tender Soft Tacos, and melty Quesadillas, all crafted with fresh ingredients and a modern flair.</p>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img src="/images/salsa.png" alt="Fresh Salsa" class="w-full h-full object-cover">
                <div
                    class="absolute bottom-0 left-0 right-0 bg-linear-to-t from-black via-black/50 to-transparent pt-32 pb-24 px-8 text-white text-center">
                    <h2 class="text-5xl md:text-6xl font-family-brandon mb-4 uppercase tracking-wide">Fresh Salsas</h2>
                    <p class="text-lg md:text-xl font-brandon max-w-3xl mx-auto">
                        Our house-made salsas are the perfect compliment to every dish, bursting with vibrant flavors.
                    </p>
                </div>
            </div>

            <div class="swiper-slide relative">
                <img src="/images/burrito.jpg" alt="Delicious Burrito" class="w-full h-full object-cover">
                <div
                    class="absolute bottom-0 left-0 right-0 bg-linear-to-t from-black via-black/50 to-transparent pt-32 pb-24 px-8 text-white text-center">
                    <h2 class="text-5xl md:text-6xl font-family-brandon mb-4 uppercase tracking-wide">Tex-Mex Options</h2>
                    <p class="text-lg md:text-xl font-brandon max-w-3xl mx-auto">
                        Enjoy our bold Burritos, fresh bowls and Loaded Nachos/Chips,bursting with flavors.
                    </p>
                </div>
            </div>

        </div>

        <!-- Navigation buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- Pagination dots -->
        <div class="swiper-pagination"></div>
    </div>

    <%- include('../partials/global/footer') %>